.contactCardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: beige;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border: black dotted;
    background: white;
}

.btn-pos{
    position: fixed;
    top: 0;
    left: 0;
}